<% if user_signed_in? %>
  <li class="nav-item d-flex align-items-center me-3">
    <%= form_with url: search_path, method: :get, local: true, html: { class: "d-flex", role: "search" } do |f| %>

      <%= f.text_field :content, placeholder: "検索", class: "form-control form-control-sm me-2", style: "width: 150px;" %>

      <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "post" }), {}, class: "form-select form-select-sm me-2", style: "width: 100px;" %>

      <%= f.select :method, options_for_select({ "完全" => "perfect", "前方" => "forward", "後方" => "backward", "部分" => "partial" }), {}, class: "form-select form-select-sm me-2", style: "width: 100px;" %>

      <%= f.submit "検索", class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </li>
<% end %>