<div class="container py-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% posts.each do |post| %>
      <div class="col mb-4">
        <div class="card h-100 shadow-sm">

          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
          <% end %>


          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">
              <%= link_to post.title, post_path(post.id), class: "text-decoration-none text-dark" %>
            </h5>
            <p class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> <%= post.address %></p>
            <p class="card-text mb-2">説明：<%= post.body %></p>
            <p class="text-muted mb-1">ユーザーネーム：<%= post.user.name %></p>
            <p class="text-muted mb-1">コメント数：<%= post.post_comments.count %></p>
            <p class="text-muted mb-1">都道府県：<%= post.genre.prefecture %></p>


            <div class="mt-2">
              <% if post.favorited_by?(current_user) %>
                <%= link_to post_favorite_path(post), method: :delete, class: "text-danger text-decoration-none" do %>
                  ♥ <%= post.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to post_favorite_path(post), method: :post, class: "text-muted text-decoration-none" do %>
                  ♡ <%= post.favorites.count %> いいね
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>