<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <% posts.each do |post| %>
        <div class="card mb-4">

          <div>
            <%= image_tag post.get_image, class: "img-fluid rounded", style: "object-fit: contain; max-height: 200px; width: 100%;" %>
          </div>

          <div class="align-self-center">
            <%= link_to post_path(post.id) do %>
              <p><%= post.title %></p>
            <% end %>
            <p><%= post.body %></p>
            <p><%= post.user.name %></p>
            <p>"<%= post.post_comments.count %> コメント"</p>
          </div>
          
        </div>
      <% end %>

    </div>
  </div>
</div>