<div class="d-flex flex-column align-items-center">
  <% @posts.each do |post| %>
    <div class="d-flex mb-4 p-3">

      <div>
        <%= image_tag post.get_image, class: "img-fluid rounded", style: "object-fit: cover; max-height: 200px;" %>
      </div>

      <div>
        <%= link_to post_path(post.id) do %>
          <p><%= post.title %></p>
        <% end %>
        <p><%= post.body %></p>
        <p><%= post.user.name %></p>
        <p>"<%= post.post_comments.count %> コメント"</p>
      </div>
      
    </div>
  <% end %>
</div>